@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

button{
  cursor: pointer;
}

img{
  user-select: none;
  -webkit-user-drag: none;
}